@charset "UTF-8";

@font-face{
    font-family: 'padrao';
    src: url(../fontes/Roboto/Roboto-Regular.ttf) format(truetype);
}

@font-face{
    font-family: 'Cabecalho';
    src: url('../fontes/YujiHentaiganaAkebono-Regular.ttf') format(truetype);
}

:root{
    --font-cabecalho: 'Cabecalho';
    --fonte-padrao: 'padrao';

    --cor1: #103778;
    --cor2: #0593A2;
    --cor3: #E3371E;
    --cor4: #FF7A48;
    --cor5: #151F30;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor5);
}

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: white;
    padding: 10px 10px 15px 10px;
}

header > h1{
    font-family: var(--font-cabecalho);
    text-align: center;
    padding: 45px 0px 0px 0px;
    font-size: 3.5em;
}

header > p{
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 0px 0px 45px 0px;
    margin-top: 6px;
}

header a{
    font-family: var(--fonte-padrao);
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    padding: 8px;
}

header a:hover{
    background-color: var(--cor2);
    color: #000000;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}

main{
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.322);
}

main > article{
    font-family: var(--fonte-padrao);
    padding: 15px;
}

main > article > h1{
    padding: 8px;
    color: var(--cor1);
    background-image: linear-gradient(to right, #87878728, transparent);
    border-radius: 0px 10px;
    margin: 12px 0px 16px 0px;
    font-size: 1.7em;
}

div#tabela{
    overflow-x: auto;
}

table{
    width: 300px;
    border-collapse: collapse;
    margin: 30px auto 45px auto;
    position: relative;
}

caption{
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 0px;
}

thead{
    background-color: var(--cor2);
    color: rgb(0, 0, 0);
    position: sticky;
    top: -1px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

.numero{
    text-align: center;
}

main > article > section{
    background-color: gray;
    min-height: 350px;
    padding: 20px;
    margin: 20px -15px;
    box-shadow: inset 3px 3px 5px 6px rgba(0, 0, 0, 0.384);
}

main > article > section#imagem-1{
    background: gray url('../multimidias/background001-2.png') no-repeat right center fixed;
    background-size: cover;
}

main > article > section#imagem-2{
    background: gray url(../multimidias/background002-2.png) no-repeat center center fixed;
    background-size: cover;
}

main > article > section > p{
    line-height: 2em;
    font-size: 1.4em;
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
    display: inline-block;
    padding: 4px;
}

main > article > h2{
    font-size: 1.1em;
    box-shadow: inset 3px 3px 5px 8px rgba(0, 0, 0, 0.308);
    padding: 8px;
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 10px;
}

main > article > h2::after{
    content: '\1F605\1F4BB';
}

main > article > p{
    text-indent: 40px;
    line-height: 1.9em;
    text-align: justify;
    margin-bottom: 8px;
}

main > article > picture> img, source{
    display: block;
    width: 90%;
    margin: 25px auto;
}

main > article > p > span > a{
    color: white;
    background-color: var(--cor1);
    padding: 4px;
    text-decoration: none;
}

main > article > p > span > a:hover{
    background-color: var(--cor2);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition-duration: .4s;
    border-radius: 5px;
}

main > article > p > span > a::after{
    content: '\0020\1F517';
}

footer{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: white;
    font-family: var(--fonte-padrao);
    padding: 10px;
    text-align: center;
}